 {% extends 'base.html' %}
 {% block content %}
 
 <!-- ======= Intro Single ======= -->
 <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Our Available Vehicles</h1>
            <span class="color-text-a">Grid Automobiles</span>
          </div>
        </div>
        
      </div>
    </div>
  </section><!-- End Intro Single-->

  <!-- ======= Property Grid ======= -->
  
  <section class="property-grid grid">
    
    <div class="container">
     
      <div class="row">
        <div class="col-sm-12">
          <div class="grid-option">
           
          </div>
        </div>
        {% if automobiles %}
            {% for automobile in automobiles %}
        <div class="col-md-4">
          <div class="card-box-a card-shadow">
           
            <div class="img-box-a">
              <img src="{{automobile.image.url}}"  style="width: 400px ; height: 400px;" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="{% url 'index' %}"> {{automobile.carName }}
                      </a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">Sale | #{{automobile.price}}M</span>
                  </div>
                  <a href="{% url 'automobile' automobile.id %}" class="link-a">Click here to view
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    
                    <li>
                      <h4 class="card-info-title">Location</h4>
                      <span>{{automobile.location}}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Colour</h4>
                      <span>{{automobile.color }}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">brand year</h4>
                      <span>{{automobile.brandYear}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
         
        </div>
        {% endfor %}
        {% else %}
        NOTHING
        {% endif %}
     
    </div>
  </section><!-- End Property Grid Single-->
  

</main><!-- End #main -->
{% endblock %}